<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
<section class="section-#{shelter.id}">
  <h3><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h3>
  <%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
<% end %>
</section>

<%= link_to "Add a Shelter", '/shelters/new' %>
